<mat-card class="card">
    <mat-card-title>Anadir contacto</mat-card-title>
    <mat-card-content class="card-contact">
        <form (submit)="newContact()">
            <mat-form-field apparence="outline">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" name="name"[(ngModel)]="name">
            </mat-form-field>
            <mat-form-field apparence="outline">
                <mat-label>Primer apellido</mat-label>
                <input matInput type="text" name="surname_1" [(ngModel)]="surname_1">
            </mat-form-field>
            <mat-form-field apparence="outline">
                <mat-label>Segundo apellido</mat-label>
                <input matInput type="text" name="surname_2"[(ngModel)]="surname_2">
            </mat-form-field>
            <mat-form-field apparence="outline">
                <mat-label>Telefono</mat-label>
                <input matInput type="text" name="phone_Number"[(ngModel)]="phone_Number">   
            </mat-form-field>
            <mat-form-field apparence="outline">
                <mat-label>Correo electronico</mat-label>
                <input matInput type="email" name="email"[(ngModel)]="email">
            </mat-form-field>

            <div class="buttons">
                <button mat-raised-button color="primary" type="submit">
                <mat-icon>save</mat-icon>
            </button>
                <button mat-raised-button color="warn" type="button"(click)="cancelInsert()">
                <mat-icon>cancel</mat-icon>
            </button>            
            </div>

            
            

        </form>
    </mat-card-content>
</mat-card>