<mat-card class="card">
    <mat-card-title>Editar producto</mat-card-title>
    <mat-card-content class="card-product">
        <form (submit)="updateProduct()">
            <mat-form-field appearance="outline">
                <mat-label>Product Name</mat-label>
                <input matInput type="text" name="name" [(ngModel)]="product.name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Stock</mat-label>
                <input matInput type="text" name="stock" [(ngModel)]="product.stock">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Price</mat-label>
                <input matInput type="text" name="price" [(ngModel)]="product.price">
            </mat-form-field>  
                        
            <mat-form-field appearance="outline">
                <mat-label>Date Added</mat-label>
                <input matInput type="text" name="date_added" [(ngModel)]="product.date_added">
            </mat-form-field>                     
            <mat-form-field appearance="outline">
                <mat-label>Category</mat-label>
                <mat-select name="category" [(ngModel)]="product.category.id">
                  <mat-option *ngFor="let category of categories" [value]="category.id">
                    {{category.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            <div class="buttons">
                <button mat-raised-button color="primary" type="submit">
                    <mat-icon>save</mat-icon> Save
                </button>
                <button mat-raised-button color="warn" type="button" (click)="cancelUpdate()">
                    <mat-icon>cancel</mat-icon> Cancel
                </button>            
            </div>
        </form>
    </mat-card-content>
</mat-card>
